{% extends '_layout/base.html.twig' %}

{% block body %}
    <a href="{{ path('utilisateur_creer') }}">Créer</a>

    <table>
        <thead>
        <tr>
            <th>Nom complet</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in liste_utilisateurs %}
            <tr>
                <td>{{ utilisateur.nomComplet }}</td>
                <td>{{ utilisateur.email }}</td>
                <td><a href="{{ path('utilisateur_modifier', {id: utilisateur.id}) }}">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
